<div class="container">
      <div class="header">
        <div align="center" class="logo">
          <h1><a href="#" [routerLink]="['/']">Page not found!</a></h1>
        </div>
      </div>

<hr>
<br>

    <div class="container" align="center">
      <img src="../../../assets/404.img" title="error" />


      <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
      
      <a href="#" class="btn btn-success btn-block" [routerLink]="['/']">Back To Home</a>
    